.desktop {
    background-color: #e0e0e0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #e0e0e0;
    overflow: hidden;
    width: 1440px;
    height: 2387px;
    position: relative;
  }
  
  .desktop .frame {
    position: absolute;
    width: 1440px;
    height: 480px;
    top: 120px;
    left: 0;
    background-color: #274174;
  }
  
  .desktop .overlap-group {
    height: 480px;
    background-image: url(./img/herosec-1.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .desktop .frame-2 {
    position: relative;
    width: 655px;
    height: 119px;
    top: 181px;
    left: 392px;
  }
  
  .desktop .text-wrapper {
    position: absolute;
    width: 655px;
    top: 84px;
    left: 0;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 28px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-2 {
    position: absolute;
    top: -1px;
    left: 99px;
    font-family: "Plus Jakarta Sans-Bold", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap-wrapper {
    position: absolute;
    width: 1440px;
    height: 120px;
    top: 0;
    left: 0;
  }
  
  .desktop .overlap {
    position: relative;
    height: 120px;
  }
  
  .desktop .frame-wrapper {
    position: absolute;
    width: 1440px;
    height: 120px;
    top: 0;
    left: 0;
    background-color: #ffffff;
  }
  
  .desktop .frame-3 {
    display: flex;
    width: 143px;
    align-items: center;
    gap: 12px;
    position: relative;
    top: 48px;
    left: 1200px;
  }
  
  .desktop .material-symbols-g {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .desktop .text-wrapper-3 {
    position: relative;
    width: fit-content;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .ep-arrow-down-bold {
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .desktop .image-removebg {
    position: absolute;
    width: 200px;
    height: 56px;
    top: 32px;
    left: 40px;
  }
  
  .desktop .p {
    position: absolute;
    top: 719px;
    left: 301px;
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--layout);
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .div-wrapper {
    position: absolute;
    width: 1440px;
    height: 40px;
    top: 2348px;
    left: 0;
    background-color: #274174;
  }
  
  .desktop .frame-4 {
    position: relative;
    width: 353px;
    height: 24px;
    top: 8px;
    left: 543px;
  }
  
  .desktop .text-wrapper-4 {
    position: absolute;
    top: 0;
    left: 24px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
  }
  
  .desktop .frame-5 {
    position: absolute;
    width: 900px;
    height: 326px;
    top: 1813px;
    left: 269px;
  }
  
  .desktop .iphone-x-flying {
    position: absolute;
    width: 314px;
    height: 326px;
    top: 0;
    left: 654px;
  }
  
  .desktop .frame-6 {
    position: absolute;
    width: 454px;
    height: 102px;
    top: 112px;
    left: 0;
  }
  
  .desktop .overlap-group-2 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 257px;
    background-image: url(./img/skill-icons-instagram-2.svg);
    background-size: 100% 100%;
  }
  
  .desktop .img-2 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    left: 0;
  }
  
  .desktop .overlap-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 62px;
    left: 253px;
    background-image: url(./img/openmoji-youtube.svg);
    background-size: 100% 100%;
  }
  
  .desktop .vector {
    position: absolute;
    width: 32px;
    height: 23px;
    top: 9px;
    left: 4px;
  }
  
  .desktop .vector-2 {
    position: absolute;
    width: 8px;
    height: 10px;
    top: 15px;
    left: 17px;
  }
  
  .desktop .group {
    position: absolute;
    width: 34px;
    height: 25px;
    top: 8px;
    left: 3px;
  }
  
  .desktop .overlap-3 {
    position: absolute;
    width: 153px;
    height: 30px;
    top: 0;
    left: 301px;
  }
  
  .desktop .text-wrapper-5 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper-6 {
    top: 66px;
    left: 301px;
    position: absolute;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .overlap-4 {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 35px;
    left: 0;
    background-image: url(./img/logos-facebook.svg);
    background-size: 100% 100%;
  }
  
  .desktop .vector-3 {
    position: absolute;
    width: 14px;
    height: 26px;
    top: 6px;
    left: 9px;
  }
  
  .desktop .text-wrapper-7 {
    top: 35px;
    left: 44px;
    position: absolute;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-7 {
    position: absolute;
    width: 1133px;
    height: 533px;
    top: 1180px;
    left: 153px;
  }
  
  .desktop .frame-8 {
    position: absolute;
    width: 585px;
    height: 350px;
    top: 122px;
    left: 548px;
  }
  
  .desktop .kunjungi-profil {
    position: absolute;
    width: 585px;
    top: -1px;
    left: 0;
    font-family: "Plus Jakarta Sans-SemiBold", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 54px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .span {
    font-weight: 600;
    color: #000000;
  }
  
  .desktop .text-wrapper-8 {
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: #274174;
    font-size: 64px;
  }
  
  .desktop .frame-9 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 80px;
    position: absolute;
    top: 280px;
    left: 0;
    background-color: var(--layout);
    border-radius: 50px;
  }
  
  .desktop .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Plus Jakarta Sans-Medium", Helvetica;
    font-weight: 500;
    color: var(--base);
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .kunjungikami {
    position: absolute;
    width: 407px;
    height: 613px;
    top: -9px;
    left: -15px;
    object-fit: cover;
  }
  
  .desktop .frame-10 {
    position: absolute;
    width: 1367px;
    height: 200px;
    top: 880px;
    left: 36px;
    overflow: hidden;
    overflow-x: scroll;
  }
  
  .desktop .frame-11 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 0;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .text-wrapper-10 {
    left: 99px;
    position: absolute;
    top: 48px;
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--base);
    font-size: 80px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-12 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 2100px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .text-wrapper-11 {
    left: 105px;
    position: absolute;
    top: 48px;
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--base);
    font-size: 80px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-13 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 2520px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .text-wrapper-12 {
    left: 108px;
    position: absolute;
    top: 48px;
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--base);
    font-size: 80px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-14 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 2940px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .text-wrapper-13 {
    position: absolute;
    top: 48px;
    left: 107px;
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--base);
    font-size: 80px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-15 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 5040px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .text-wrapper-14 {
    left: 95px;
    position: absolute;
    top: 48px;
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--base);
    font-size: 80px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-16 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 5460px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .text-wrapper-15 {
    left: 94px;
    position: absolute;
    top: 48px;
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--base);
    font-size: 80px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-17 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 4620px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .text-wrapper-16 {
    left: 103px;
    position: absolute;
    top: 48px;
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--base);
    font-size: 80px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-18 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 4200px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .text-wrapper-17 {
    left: 114px;
    position: absolute;
    top: 48px;
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--base);
    font-size: 80px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-19 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 3780px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .frame-20 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 3360px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .text-wrapper-18 {
    left: 106px;
    position: absolute;
    top: 48px;
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--base);
    font-size: 80px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-21 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 1680px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .frame-22 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 1260px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .frame-23 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 840px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .frame-24 {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 0;
    left: 420px;
    background-color: var(--layout);
    border-radius: 12px;
    box-shadow: 4px 4px 4px #00000040;
  }
  
  .desktop .text-wrapper-19 {
    left: 100px;
    position: absolute;
    top: 48px;
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 800;
    color: var(--base);
    font-size: 80px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-25 {
    position: absolute;
    width: 1440px;
    height: 120px;
    top: 2228px;
    left: 0;
    background-color: #46464699;
  }
  
  .desktop .text-wrapper-20 {
    position: absolute;
    top: 30px;
    left: 60px;
    font-family: "Inter-SemiBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .desktop .frame-26 {
    position: absolute;
    width: 1102px;
    height: 20px;
    top: 68px;
    left: 60px;
  }
  
  .desktop .frame-27 {
    position: absolute;
    width: 314px;
    height: 20px;
    top: 0;
    left: 0;
  }
  
  .desktop .text-wrapper-21 {
    position: absolute;
    width: 275px;
    top: 0;
    left: 32px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-28 {
    position: absolute;
    width: 271px;
    height: 20px;
    top: 0;
    left: 354px;
  }
  
  .desktop .text-wrapper-22 {
    position: absolute;
    width: 239px;
    top: 0;
    left: 32px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-29 {
    position: absolute;
    width: 154px;
    height: 20px;
    top: 0;
    left: 665px;
  }
  
  .desktop .text-wrapper-23 {
    position: absolute;
    width: 122px;
    top: 0;
    left: 32px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-30 {
    position: absolute;
    width: 243px;
    height: 19px;
    top: 1px;
    left: 859px;
  }
  
  .desktop .text-wrapper-24 {
    position: absolute;
    width: 210px;
    top: -1px;
    left: 33px;
    font-family: "Inter-Medium", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .frame-31 {
    position: absolute;
    width: 21px;
    height: 17px;
    top: 1px;
    left: 0;
  }
  